<div id="orderEditor">
	<content-header>{{$route.params.No?'订单信息':'创建订单'}}</content-header>
	<div class="panel-list">
		<div class="panel-item">
			嗯哼，订单一旦创建就不能修改了哟。老铁
		</div>
		<div class="panel-item">
			<div class="editor-step">
				<pk-step :current="stepIndex" type="arrow">
					<pk-step-item title="选择套餐" />
					<pk-step-item title="生成订单" />
					<pk-step-item title="确认支付" />
				</pk-step>
			</div>

			<!-- 选择套餐 -->
			<template v-if="stepIndex===0">
				<ul class="plan-list pure-g" v-for="plan in plans">
					<li class="plan-item-holder pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
						<div class="plan-item" :class="{active:order.planID===plan.id}" @click="selectPlan(plan)">
							<h4>{{plan.name}}</h4>
							<div class="pure-g">
								<div class="pure-u-1-2">
									<span>价格：</span>
									<span>¥{{plan.price | currency}}</span>
								</div>
								<div class="pure-u-1-2">
									<span>时间：</span>
									<span>{{plan.month}}个月</span>
								</div>
							</div>
							<div class="pure-g">
								<div class="pure-u-1">
									{{plan.description}}
								</div>
							</div>
						</div>
					</li>
				</ul>
				<footer class="controls">
					<pk-button class="next-step pure-button-primary" @click.native="checkPlan()">下一步</pk-button>
				</footer>
			</template>

			<!-- 生成订单 -->
			<template v-if="stepIndex===1">
				<div class="">
					订单没问题就点下一步好了
				</div>
				<footer class="controls">
					<pk-button class="next-step pure-button-primary" @click.native="stepIndex-=1">上一步</pk-button>
					<pk-button class="next-step pure-button-primary" @click.native="generateOrder()">下一步</pk-button>
				</footer>
			</template>

			<!-- 确认支付 -->
			<template v-if="stepIndex===2">
				<div class="">
					<img :src="qrcode" />
				</div>
				<footer class="controls">
					<pk-button class="next-step pure-button-primary" @click.native="stepIndex-=1">上一步</pk-button>
					<pk-button class="next-step pure-button-primary" @click.native="">已完成支付？</pk-button>
				</footer>
			</template>
		</div>
	</div>
</div>
