@charset "UTF-8";

/**
 * 菜单通用样式
 * @authors Picker Lee (https://github.com/li2274221)
 * @emial   450994392@qq.com
 * @date    2016-09-27 16:24:05
 */

@import "../../assets/styles/variables";

.sidebar-menu {
	width: $menuWidth;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #252a3a;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	// 用户头像、邮箱
	.user-box {
		text-align: center;
		margin: 40px auto;
		display: inline-block;
		text-decoration: none;

		.avatar {
			width: 80px;
			height: 80px;
		}

		.email {
			color: #f2f2f2;
			font-size: 12px;
		}
	}

	.main-menu {
		overflow: hidden;
		transition: all .5s;

		> h4 {
			margin: 10px 15px;
			color: #4b7197;
		}
	}

	.pure-menu-item {
		margin: 2px auto;

		.pure-menu-link {
			padding-left: 0.5em;
			color: #fff;
			cursor: pointer;

			&:hover, &:focus, &.router-link-active {
				background-color: #373c5a;
			}
		}

		&.menu-item-logout {
			display: none;

			.fa {
				color: #ca0202;
				margin-right: 5px;
				font-size: 20px;
				vertical-align: text-top;
			}
		}
	}

	.oops-menu {
		display: none;
		position: absolute;
		right: 10px;
		top: 10px;

		.pure-menu-item {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
		}

		.custom-icon.icon-bars {
			background-color: #fff;

			&:before, &:after {
				background-color: #fff;
			}
		}

		.custom-icon.icon-times {
			&:before, &:after {
				background-color: #fff;
			}
		}
	}

	.item-logout {
		position: absolute;
		bottom: 40px;
		right: 55px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		cursor: pointer;

		&:hover {
			.fa {
				transform: rotateZ(180deg);
				color: #616161;
			}
		}

		.fa {
			font-size: 24px;
			transition: all 0.3s ease;
			color: #ca0202;
		}
	}
}

@media screen and (max-width: 768px) {
	.sidebar-menu {
		width: 100%;
		right: 0;
		bottom: initial;
		height: 50px;
		z-index: 10;

		.user-box {
			margin: 10px;
			text-align: left;

			.avatar {
				width: 30px;
				height: 30px;
				vertical-align: middle;
			}
		}

		.pure-menu-item {
			&.menu-item-logout {
				display: block;
			}
		}

		.main-menu {
			height: 0;
			text-align: center;
			background-color: #404861;
		}

		.oops-menu {
			display: block;
		}

		&.show {
			.main-menu {
				height: 208px;

				.pure-menu-item {
					border-bottom: 1px solid #566080;

					.pure-menu-link {
						color: #bbb;

						&.router-link-active {
							background-color: transparent;
							color: #fff;
						}
					}
				}
			}

			.mask {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}

		.item-logout {
			display: none;
		}
	}
}

@media screen and (max-width: 568px) {}
