<section class="container register-container">
	<section class="register-box">
		<header class="box-head">用户注册</header>
		<form class="pure-form">
			<tips v-if="errorMessage" type="error" v-bind:message="errorMessage"></tips>
			<fieldset class="pure-group">
				<input type="email" class="pure-input-1" required placeholder="邮箱" v-model="email" />
        		<input type="password" class="pure-input-1" required placeholder="密码" v-model="password" />
        		<input type="text" class="pure-input-1" required placeholder="邀请码" v-model="invitationCode" />
			</fieldset>
			<pk-button class="btn-login pure-input-1" :is-loading="isRegister" v-on:click.native="register">注册</pk-button>
			<div class="oops">已有账号?<router-link to="/login">返回登录</router-link></div>
		</form>
	</section>
</section>
