@charset "UTF-8";

#nodes {
	.tools {
		float: right;
		margin-top: -4.5px;

		.btn-editor,
		.btn-init {
			// margin: 0 5px !important;
			padding: 0.2em !important;
		}
	}

	.pk-modal-container {
		.pure-control-group {
			> label {
				width: 6em;
			}

			> input {
				display: inline-block !important;
				color: #444;
				width: 240px;
			}
		}

		.tips {
			margin: 10px 0;
		}
	}
}
@media only screen and (max-width: 520px) {
	#nodes {
		.pk-modal-container {
			.pure-control-group {
				text-align: left;

				> label {
					margin-bottom: 5px;
					text-align: left;
					display: none;
				}

				> input {
					width: 100%;
				}
			}

			.pure-form-aligned {
				.pure-controls {
					margin: 0.5em 0 0;
				}
			}
		}
	}
}
