@charset "UTF-8";

.panel-list {
	padding: 0 20px;
}

.panel-item {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

#nodes {
	.panel-attention {
		> p {
			font-size: 14px;
			margin: 15px 0;

			> strong {
				font-size: 20px;
				font-weight: 400;
			}
		}
	}

	.panel-node-item {
		border-bottom: 1px solid #eee;
		padding: 10px 0;
		margin-bottom: 10px;

		&:last-child {
			border-bottom: none;
		}

		.node-item-heading {
			margin-bottom: 20px;

			.fa-qrcode {
				cursor: pointer;
			}

			.node-name {
				font-size: 16px;
			}

			.tips {
				font-size: 12px;
				color: #888;
			}
		}
	}

	.loader {
		display: block;
		margin: 100px auto;
	}

	.image-loader {
		width: 30px;
		height: 30px;
	}

	.node-card-content {
		.pure-u-1 {
			margin-bottom: 15px;
		}
	}

	.panel-empty-item {
		text-align: center;
		font-size: 14px;
		color: #aaa;
		margin: 30px auto;
	}
}

// 二维码弹出窗
.ss-qrcode-modal {
	h4 {}

	.ss-qrcode {
		width: 200px;
		height: 200px;
	}
}
