<section id="dashboard">
	<content-header>个人资料</content-header>
	<section class="dashboard-contain">
		<span class="btn-link" v-on:click="VPNEditorData.show=true">修改VPN密码</span>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<span>邮箱：</span><span>{{account.email}}</span>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<span>shadowsocks端口：</span><span>{{account.port}}</span>
			</div>
			<div class="pure-u-1 pure-u-md-1-2">
				<span>shadowsocks密码：</span><span>{{account.auth}}</span>
			</div>
		</div>
	</section>

	<!-- VPN密码修改弹出层 -->
	<pk-modal title="修改VPN密码" v-if="VPNEditorData.show" :inner-mask="VPNEditorData.isSaveing">
		<form class="pure-form pure-form-aligned">
			<fieldset class="pure-group">
				<div class="pure-control-group">
					<label>新VPN密码</label>
					<input type="password" placeholder="请输入新的VPN密码" v-model="VPNEditorData.password" />
				</div>
				<div class="pure-control-group">
					<label>确认VPN密码</label>
					<input type="password" placeholder="请再次输入新的VPN密码" v-model="VPNEditorData.confirmPSW" />
				</div>
				<div class="pure-control-group">
					<label>登录密码</label>
					<input type="password" placeholder="请输入您的账户登录密码" v-model="VPNEditorData.accountPSW" />
				</div>
				<div class="pure-controls">
					<pk-button class="" :is-loading="VPNEditorData.isSaveing" v-on:click.native="saveVPNPSW($event)">保存</pk-button>
					<pk-button v-on:click.native="closeModal($event)">取消</pk-button>
				</div>
			</fieldset>
		</form>
	</pk-modal>
	<!-- 登录密码修改弹出层 -->
</section>
	
