<section id="dashboard">
	<content-header>个人资料</content-header>
	<section class="panel-list attention">
		<div class="panel-item">
			<p class="info">
				<strong>注意！</strong>
			</p>
			<p class="info">您需要下载相应软件或App才能使用我们的VPN哦！</p>
			<p class="info">在此，我们已经为各位客官准备好了使用教程：</p>
			<ol>
				<li>
					<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzA5MDkyODM3Nw==&mid=507096123&idx=1&sn=7b6f15a1b94add18cb852725c02f36a1&chksm=0bc929ad3cbea0bb85acf6b36dfc72b650dafa93bab56be2ba3e4ac5defd039cc9b4f29408c1&scene=18&key=72742a3cd154ac7c118d81887c96460e7a323ee513314c6ba4cd7f2d631827fa6d1c06e4da8ca510eff9e91c3df53b4c4bde7ec47d1b7f4085dad3805f5b9c212e98fd69942bb82606c7074e0ee005b8&ascene=0&uin=MTgwNDkyMjM0MA%3D%3D&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=UBIFz6t9cQsS1zKAkDFtO7nVRD1CFRwI7u3%2BM6fbQIgkkhzFrmzucpnb1tdjOKoQ">Windows系统配置教程</a>
				</li>
				<li>
					<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzA5MDkyODM3Nw==&mid=507096152&idx=1&sn=85bc25554d6804302da63169aa0d5110&chksm=0bc929ce3cbea0d86fd43569d1c578debdef9a20474fd4846eb94db2a66c2bd1b75c50c65f70&scene=18&key=4b22e41db5445d570c15f01b1f9a629e03a0bb317ccb821b8325f072a49bc062c47e43b06472b3ca9523cb9e20c09a89d654d13cfef74c4014c82ed6e29a74f9c61771af8c0d8bd512f6dedb693608bf&ascene=0&uin=MTgwNDkyMjM0MA%3D%3D&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=UBIFz6t9cQsS1zKAkDFtO7nVRD1CFRwI7u3%2BM6fbQIgkkhzFrmzucpnb1tdjOKoQ">Mac系统配置教程</a>
				</li>
				<li>
					<a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzA5MDkyODM3Nw==&mid=507096137&idx=1&sn=5f26ed0294613edfededa2961f9a2d53&chksm=0bc929df3cbea0c9fb0ec58417e20ace75dda240901ec125816750e3cd140d4b8f6722512004&scene=18&key=0ffec58c64ed2d3fc0ec6cdeecf06ec32d03e8fa960e5bb048d3ac43c1211c5b0a78d4a96ca0c5408da51b0b483fb1db935c347e430960090f6d632cfe8a64c27b178c75f5876e33cba664e8d7bbb48e&ascene=0&uin=MTgwNDkyMjM0MA%3D%3D&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=UBIFz6t9cQsS1zKAkDFtO7nVRD1CFRwI7u3%2BM6fbQIgkkhzFrmzucpnb1tdjOKoQ">iPhone,iPad Shadowsocks教程</a>
				</li>
				<li>
					<a href="https://mp.weixin.qq.com/s?__biz=MzA5MDkyODM3Nw==&mid=507096137&idx=1&sn=5f26ed0294613edfededa2961f9a2d53&chksm=0bc929df3cbea0c9fb0ec58417e20ace75dda240901ec125816750e3cd140d4b8f6722512004&scene=18&key=0ffec58c64ed2d3fc0ec6cdeecf06ec32d03e8fa960e5bb048d3ac43c1211c5b0a78d4a96ca0c5408da51b0b483fb1db935c347e430960090f6d632cfe8a64c27b178c75f5876e33cba664e8d7bbb48e&ascene=0&uin=MTgwNDkyMjM0MA%3D%3D&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.12.2+build(16C67)&version=12010210&nettype=WIFI&fontScale=100&pass_ticket=UBIFz6t9cQsS1zKAkDFtO7nVRD1CFRwI7u3%2BM6fbQIgkkhzFrmzucpnb1tdjOKoQ">Android教程请参照iPhone,iPad</a>
				</li>
			</ol>
		</div>


		<div class="controls">
			<router-link class="btn-link" to="/user/reset-vpn-password">修改VPN密码</router-link>
			<router-link class="btn-link" to="/user/reset-account-password">修改登录密码</router-link>
		</div>

		<section class="panel-item dashboard-contain">

			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">
					<span>邮箱：</span>
					<span>{{account.email}}</span>
				</div>
				<div class="pure-u-1 pure-u-md-1-2">
					<span>有效期至：</span>
					<span v-if="account.isAvailable">{{account.expireDate | formatDate('yyyy-MM-dd hh:mm')}}</span>
					<span v-if="!account.isAvailable" class="out-of-date">{{account.expireDate | formatDate('yyyy-MM-dd hh:mm')}}已过期</span>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">
					<span>shadowsocks端口：</span>
					<span>{{account.port}}</span>
				</div>
				<div class="pure-u-1 pure-u-md-1-2">
					<span>shadowsocks密码：</span>
					<span>{{account.auth}}</span>
				</div>
			</div>
		</section>
	</section>
</section>
