.custom-icon.icon-times {
	&:after,
	&:before {
		content: ' ';
		display: block;
		height: 141.42%;
		width: 2px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: -3px;
		margin-left: -1px;
		transform-origin: 50% 50%;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}
}
