.custom-icon.icon-bars {
	width: 23px;
	height: 2px;
	background-color: #fff;

	&:after,
	&:before {
		content: ' ';
		display: block;
		height: 2px;
		width: 100%;
		background-color: #fff;
		position: absolute;
		left: 0;
	}

	&:before {
		top: -8px;
	}

	&:after {
		bottom: -8px;
	}
}
