<section id="Home">
	<section class="section banner">
		<img class="logo" :src="G.website.logo" />
		<section class="container">
			<h1 class="animated bounceInDown">世界那么大，给你留扇窗</h1>
			<p class="animated bounceInUp desc">蛋说他再想想</p>

			<div class="controls" v-if="!G.account.email">
				<router-link to="register" class="btn btn-register animated bounceInLeft">注 册</router-link>
				<router-link to="login" class="btn btn-login animated bounceInRight">登 录</router-link>
			</div>
			<div class="controls" v-if="G.account.email">
				<router-link to="user/profile" class="btn btn-dashboard">
					{{G.account.email}}
					<span class="fa fa-arrow-circle-right"></span>
				</router-link>
			</div>
		</section>
	</section>

	<section class="section slogen">
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="bg-item"></div>
		<div class="container fj-slogen">少年，你能看到这里说明你有一颗渴望飞翔的心。但是行走江湖，需要一件趁手的兵刃。春秋战国时期儒家学派的孔夫子曾曰过“代理账号只有搭配软件才能发挥作用”。别慌，我们已经为你准备好了。。。</div>
	</section>

	<section class="section downloads ">
		<h2>客户端下载</h2>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-4">
				<section class="download-item windows">
					<h3>Windows 系统</h3>
					<ul>
						<li>
							<a target="_blank" href="/download/windows/Shadowsocks-3.4.0-prerelease.zip">
								最新版Shadowsocks下载
							</a>
						</li>
						<li>
							<a target="_blank" href="http://download.ssspeed.net/win/Shadowsocks-win-2.5.6.zip">
								Windows 7/XP Shadowsocks客户端下载
							</a>
						</li>
						<li>
							<a target="_blank" href="http://download.ssspeed.net/win/Shadowsocks-win-dotnet4.0-2.5.2.zip">
								Windows 8/10 Shadowsocks客户端下载
							</a>
						</li>
						<li class="tur">
							<a href="https://mp.weixin.qq.com/s?__biz=MzA5MDkyODM3Nw==&mid=507096123&idx=1&sn=7b6f15a1b94add18cb852725c02f36a1&chksm=0bc929ad3cbea0bb85acf6b36dfc72b650dafa93bab56be2ba3e4ac5defd039cc9b4f29408c1&mpshare=1&scene=1&srcid=122885HItAz1G0uAhRJAWFCx&key=564c3e9811aee0abc9aa67264d958e88c08eaf2dc7ed06c1600f4ea67e300c41ca01aff1eb5d28906b2e8bdcae2adde6c2d530575d3ed59bbbbd7e5c3ae6317f7c71e6e853e5c4ea521a2c11c5685697&ascene=0&uin=MTgwNDkyMjM0MA%3D%3D&devicetype=iMac+MacBookAir6%2C2+OSX+OSX+10.12.1+build(16B2555)&version=12010110&nettype=WIFI&fontScale=100&pass_ticket=kUnW8RTa7GvB8A5btL%2Fj6%2BfzHWCn8JdwbEPmYf781aihkeClftwhuIHjq4nnVKv4">Windows系统配置教程</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-4">
				<section class="download-item osx">
					<h3>MAC OS</h3>
					<ul>
						<li>
							<a target="_blank" href="/download/osx/ShadowsocksX-2.6.3.zip">
								MAC OS客户端ShadowsocksX下载
							</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-4">
				<section class="download-item ios">
					<h3>iPhone/iPad</h3>
					<ul>
						<li>
							<a target="_blank" href="https://appsto.re/cn/19xBeb.i">
								iPhone,iPad Wingy 下载地址
							</a>
						</li>
						<li>
							<a target="_blank" href="https://appsto.re/cn/19xBeb.i">
								iPhone,iPad Shadowsocks教程
							</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 pure-u-xl-1-4">
				<section class="download-item android">
					<h3>Android 系统</h3>
					<ul>
						<li>
							<a target="_blank" href="http://download.ssspeed.net/android/shadowsocks-nightly-2.6.8.zip">
							安卓shadowsocks客户端下载
						</a>
						</li>
						<li>
							<a target="_blank" href="http://download.ssspeed.net/android/shadowsocks-nightly-3.0.4.zip">
							最新版shadowsocks下载
						</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</section>

	<section class="">

	</section>
</section>
