@charset "UTF-8";
@import "../../assets/styles/mixin"; // .banner {
// 	height: 450px;
// 	text-align: center;
// 	background-size: cover;
// 	width: 100%;
// 	margin-bottom: 3em;
// 	display: table;
// 	.banner-head {
// 		display: table-cell;
// 		vertical-align: middle;
// 		margin-bottom: 0;
// 		font-size: 2em;
// 		color: white;
// 		font-weight: 500;
// 		text-shadow: 0 1px 1px black;
// 		font-size: 3em;
// 	}
// }

#Home {
	.container {
		max-width: 1024px;
		margin: 0 auto;
	}

	.section.banner {
		@include linearCarveUp(rgb(6, 150, 222), rgb(0, 184, 97));
		padding: 100px 0;

		h2,
		h3 {
			color: #fff;
			text-align: center;
			margin: 10px 0;
			font-weight: 300;
		}

		h2 {
			font-size: 3em;
		}

		h3 {
			font-size: 2em;
		}

		.pager {
			height: 300px;
			margin: 30px auto;
		}
	}

	.swiper-container {
		margin: 60px auto;
		width: 600px;

		.swiper-wrapper {}
	}

	.swiper-slide {
		background-color: #fff;
		background-position: center;
		background-size: cover;
		box-shadow: inset 0 0 1px;
		text-align: center;
		height: 300px;

		&.animated {
			animation-duration: 1.2s;
			animation-delay: 0.4s;
		}

		> p {
			font-size: 2em;
			text-shadow: 0 1px 1px #444;
			color: white;
			font-weight: 500;
		}
	}

	.feij-advantage {
		text-align: center;

		.advantage-item {
			display: inline-block;
			margin: 0 20px;

			dd,
			dl,
			dt {
				margin: 0;
				padding: 0;
			}

			dd {
				margin-top: 10px;
				color: #222;
			}

			.icon-contain {
				background-color: rgba(255, 255, 255, 0.8);
				border-radius: 50%;
				display: inline-block;
				width: 88px;
				height: 88px;
				text-align: center;
				line-height: 88px;

				.icon {
					display: inline-block;
					background-repeat: no-repeat;
					background-size: 100%;
					background-size: cover;
					vertical-align: middle;
				}

				&.contain-speed-up {
					.icon {
						width: 60px;
						height: 60px;
						background-image: url("../../assets/images/home/speed-up.png");
					}
				}

				&.contain-secure {
					animation-delay: 0.5s;

					.icon {
						width: 48px;
						height: 48px;
						background-image: url("../../assets/images/home/secure.png");
					}
				}

				&.contain-compatible {
					animation-delay: 1s;

					.icon {
						width: 42px;
						height: 50px;
						background-image: url("../../assets/images/home/compatible.png");
					}
				}
			}
		}
	}

	.downloads {
		background-color: #f2f2f2;
		padding: 20px 0 100px;
		text-align: center;

		h3 {
			font-size: 3em;
			text-align: center;
		}

		.download {
			display: inline-block;
			width: 350px;
			margin: 0 15px;
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 2px 2px 8px #b9b9b9;
			padding: 15px 30px 30px;
			vertical-align: top;

			h4 {
				font-size: 1.5em;
			}

			.desc {
				line-height: 1.5;
				height: 150px;
			}

			.btn-download {
				border: none;
				border-radius: 20px;
				height: 40px;
				width: 160px;
				background-color: rgb(6,150,222);
				color: #fff;
				box-shadow: 1px 1px 3px rgb(6,150,222);
			}
		}
	}

	.footer {
		background-color: rgb(40,60,80);
		padding: 10px 20px;

		.logo {
			width: 40px;
			height: 40px;
			vertical-align: middle;
			margin-right: 15px;
		}

		.link {
			color: #bbb;
			font-size: 1.2em;
			text-decoration: none;

			&:hover {
				color: #fff;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	#Home {
		.downloads {
			.download {
				display: block;
				margin-bottom: 15px;
				width: initial;

				.desc {
					height: initial;
					min-height: 80px;
					font-size: 16px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
