@charset "UTF-8";

#Home {
	h1 {
		font-size: 4em;
	}

	.section {}

	.banner,
	.slogen {
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 60% 50%;
		height: 100vh;
		position: relative;

		.container {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.banner {
		background-image: url('~assets/images/home/bg-0.jpeg');

		.logo {
			position: absolute;
			width: 60px;
			top: 30px;
			left: 30px;
			transform: rotateZ(70deg);
		}

		.desc,
		h1 {
			color: #fff;
			text-align: center;
			margin: 0 0 20px;
			font-weight: 300;
		}

		.desc {
			font-size: 1.2em;
			margin-bottom: 30px;
		}

		.controls {
			text-align: center;
		}
	}

	.slogen {
		background-color: #000;
		background-image: url('~assets/images/home/ct.jpg');

		.fj-slogen {
			color: rgba(255,255,255,0.85);
			text-align: center;
			margin: 0 20px;
			font-weight: 200;
			font-size: 3em;
			line-height: 2em;
		}

		.bg-item {
			position: absolute;
			width: 33.3333%;
			height: 33.3333%;
			background-size: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			transition: all 0.4s;
			transform-origin: center;
			display: none;
			// animation: VVV 3s forwards infinite ease-in-out;
			&:nth-child(1) {
				top: 0;
				left: 0;
				background-image: url('~assets/images/home/free.jpg');
			}

			&:nth-child(2) {
				top: 0;
				left: 33.3333%;
				background-image: url('~assets/images/home/lol.jpg');
			}

			&:nth-child(3) {
				top: 0;
				left: 66.6666%;
				background-image: url('~assets/images/home/yld.jpg');
			}

			&:nth-child(4) {
				top: 33.3333%;
				left: 0;
				background-image: url('~assets/images/home/sea2.jpg');
			}

			&:nth-child(5) {
				top: 33.3333%;
				left: 33.3333%;
				background-image: url('~assets/images/home/sea3.jpg');
			}

			&:nth-child(6) {
				top: 33.3333%;
				left: 66.6666%;
				background-image: url('~assets/images/home/sea.jpg');
			}

			&:nth-child(7) {
				top: 66.6666%;
				left: 0;
				background-image: url('~assets/images/home/ct.jpg');
			}

			&:nth-child(8) {
				top: 66.6666%;
				left: 33.3333%;
				background-image: url('~assets/images/home/bei.jpg');
			}

			&:nth-child(9) {
				top: 66.6666%;
				left: 66.6666%;
				background-image: url('~assets/images/home/jb.jpg');
			}
		}
	}

	.contact-us,
	.downloads {
		background-color: #fafafa;
		border-top: 1px solid #fafafa;

		h2 {
			text-align: center;
			margin-top: 40px;
		}
	}

	.downloads {
		.pure-g {
			padding: 0 1em;
		}

		.pure-u-1 {
			margin-bottom: 2em;
		}

		.download-item {
			margin: 1em;
			border: 1px solid #e2e2e2;
			height: 100%;
			padding: 0.8em 2em;
			border-radius: 4px;
			box-shadow: 0 0 8px #e0e0e0;
			background-color: #fff;
		}

		li {
			margin-bottom: 10px;

			&.tur {
				margin-top: 20px;
			}

			a {
				text-decoration: none;
				color: #555;
				transition: all 0.5s;

				&:hover {
					color: #f52a2a;
				}
			}
		}
	}

	.contact-us {
		padding-bottom: 2em;

		.qrcode-wrap {
			text-align: center;
			margin-top: 2em;
		}

		.qrcode {
			width: 300px;
		}

		.tips {
			font-size: 12px;
			color: #666;
			padding: 0 1em;
		}
	}

	.btn,
	.btn-download {
		color: #fff;
		font-size: 1.1em;
		margin: 1em 0.2em;
		display: inline-block;
		padding: 13px 70px;
		text-decoration: none;
		transition: all 0.2s;
		font-weight: 700;
		background-color: #745cf9;
		border: 3px solid #745cf9;

		&:hover {
			background-color: #5d47d7;
			border-color: #5d47d7;
		}

		&.btn-register {
			border: 3px solid #fff;
			background-color: transparent;

			&:hover {
				background-color: rgba(255,255,255,0.8);
				color: #5d47d7;
			}
		}

		> .fa {
			font-size: 1.8em;
			margin: 0 5px;
			vertical-align: middle;
		}
	}
}
@media screen and (max-width: 768px) {
	#Home {
		h1 {
			font-size: 3em;
		}

		.banner {
			.controls {
				.btn {
					display: block;
					margin: 30px auto;
					width: 70%;
					padding: 13px 0;
					max-width: 280px;
				}
			}
		}

		.slogen {
			background-position: 78% 0;

			.fj-slogen {
				font-weight: 200;
				font-size: 2em;
				line-height: 1.5em;
			}
		}

		.downloads {
			div.pure-u-1 {
				margin-bottom: 1em;
			}

			.download-item {
				margin: 1em 0;
			}
		}

		.contact-us {
			.qrcode {
				width: 80%;
			}
		}
	}
}
@keyframes VVV {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 0 0;
	}
}
