@charset "UTF-8";

#Home {
	h1 {
		font-size: 4em;
	}

	.section {
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 60% 50%;
	}

	.banner {
		background-image: url('../../assets/images/home/bg-0.jpeg');
		height: 100vh;

		.container {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		.desc,
		h1 {
			color: #fff;
			text-align: center;
			margin: 0 0 20px;
			font-weight: 300;
		}

		.desc {
			font-size: 1.2em;
			margin-bottom: 30px;
		}

		.controls {
			text-align: center;
		}
	}

	.platform {
		padding: 100px 100px 40px;
		text-align: center;
		border-bottom: 1px solid #e2e2e2;

		.platform-item {
			&.image-item {
				> img {
					width: 345px;
					height: 240px;
				}
			}

			&.desc-item {
				text-align: left;

				h2 {
					margin: 0 0 15px;
					font-size: 3em;
					font-weight: 200;
				}

				> p {
					font-size: 1.2em;
					line-height: 1.4em;
				}
			}
		}
	}

	.btn,
	.btn-download {
		color: #fff;
		font-size: 1.1em;
		margin: 1em 0.2em;
		display: inline-block;
		padding: 13px 70px;
		text-decoration: none;
		transition: all 0.2s;
		font-weight: 700;
		background-color: #745cf9;
		border: 3px solid #745cf9;

		&:hover {
			background-color: #5d47d7;
			border-color: #5d47d7;
		}

		&.btn-register {
			border: 3px solid #fff;
			background-color: transparent;

			&:hover {
				background-color: rgba(255,255,255,0.8);
				color: #444;
			}
		}

		> .fa {
			font-size: 1.8em;
			margin: 0 5px;
			vertical-align: middle;
		}
	}
}
@media screen and (max-width: 768px) {
	#Home {
		h1 {
			font-size: 3em;
		}

		.banner {
			.controls {
				.btn {
					display: block;
					margin: 30px auto;
					width: 70%;
					padding: 13px 0;
					max-width: 280px;
				}
			}
		}

		.platform {
			padding: 20px;

			.platform-item.image-item {
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
