#dashboard {
	.dashboard-contain {
		min-height: 300px;
		background-color: #fff;
		margin: 0 20px;
		border-radius: 2px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
		padding: 20px;

		.pure-g {
			> div {
				margin-bottom: 20px;
			}
		}
	}
}
