<header class="fixed-nav pure-menu pure-menu-horizontal" v-bind:class="{'show':G.showMainMenu}">
	<nav class="head-menu">
		<img class="logo" :src="G.website.logo" />
		<router-link to="/" class="pure-menu-heading">
			{{G.website.title}}
		</router-link>

		<!-- main menu -->
		<!-- <ul class="pure-menu-list main-menu">
			<router-link class="pure-menu-item" active-class="pure-menu-selected" tag="li" to="/">
				<a class="pure-menu-link">首页</a>
			</router-link>
			<router-link class="pure-menu-item" active-class="pure-menu-selected" tag="li" to="/declaration">
				<a class="pure-menu-link">使用说明</a>
			</router-link>
			<router-link class="pure-menu-item" active-class="pure-menu-selected" tag="li" to="/contact">
				<a class="pure-menu-link">联系我们</a>
			</router-link>
		</ul> -->

		<!-- 如果已登录 显示当前用户的信息 -->
		<ul v-if="G.account.email" class="pure-menu-list account-menu">
			<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
				<router-link to="" class="pure-menu-link pure-menu-sub-item">{{G.account.email}}</router-link>
				<ul class="pure-menu-children">
					<li class="pure-menu-item">
						<router-link to="/user/profile" class="pure-menu-link account-menu-link">个人资料</a>
					</li>
					<li class="pure-menu-item">
						<router-link to="" v-on:click.native="logout" class="pure-menu-link account-menu-link">退出</a>
					</li>
				</ul>
			</li>
		</ul>

		<!-- 如果未登录 显示 登录/注册 按钮 -->
		<ul v-else class="pure-menu-list account-menu">
			<li class="pure-menu-item">
				<router-link to="/login" class="pure-menu-link account-menu-link">登录</router-link>
			</li>
			<li class="pure-menu-item">
				<router-link to="/register" class="pure-menu-link account-menu-link">注册</router-link>
			</li>
		</ul>

		<ul class="pure-menu-list oops-menu">
			<transition name="fade">
				<!-- 打开菜单 -->
				<li class="pure-menu-item bars" v-if="!G.showMainMenu" v-on:click="G.showMainMenu=true">
					<icon-bars class="pure-menu-icon"></icon-bars>
				</li>
			</transition>
			<transition name="fade">
				<!-- 关闭菜单 -->
				<li class="pure-menu-item times" v-if="G.showMainMenu" v-on:click="G.showMainMenu=false">
					<icon-times class="pure-menu-icon"></icon-times>
				</li>
			</transition>
		</ul>
	</nav>
</header>
