.head-menu {
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.85);
}

.account-menu {
	float: right;

	.pure-menu-allow-hover {
		&:hover {
			.pure-menu-link, .pure-menu-children {
				background-color: #f9f9f9;
			}
		}
	}
}
