<nav class="pure-menu pure-menu-horizontal">
	<a href="#" class="pure-menu-heading">KING IN THE SHADOW</a>
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a href="#" class="pure-menu-link">首页</a></li>
		<li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">使用说明</a></li>
		<li class="pure-menu-item"><a href="#" class="pure-menu-link">联系我们</a></li>
	</ul>

	<!-- 如果已登录 显示当前用户的信息 -->
	<ul v-if="account.email" class="pure-menu-list account-menu">
		<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
			<a href="#" class="pure-menu-link">{{account.email}}</a>
			<ul class="pure-menu-children">
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">面板</a></li>
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">个人资料</a></li>
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">退出</a></li>
			</ul>
		</li>
	</ul>
	<!-- 如果未登录 显示 登录/注册 按钮 -->
	<ul v-else class="pure-menu-list account-menu right">
		<li class="pure-menu-item">
			<a href="javascript:void(0)" class="pure-menu-link">登录</a>
		</li>
		<li class="pure-menu-item">
			<a href="javascript:void(0)" class="pure-menu-link">注册</a>
		</li>
	</ul>
</nav>
