.forget-container{
  .email-holder{
    position: relative;

    .btn-auth{
      position: absolute;
      z-index: 10;
      right: 2px;
      top: 5px;
      margin: 0;
      padding: 6px !important;
    }
  }
}
