.pk-select {
	display: inline-block;
  position: relative;
  vertical-align: middle;

	.value-input-box {
    position: relative;

		input.value {
      padding: 4px 2px;
      width: 100%;
    }

		.indicator {
			position: absolute;
			right: 0;
			top: 0;
			color: #888;
      transition: all 0.5s;
      width: 20px;
      height: 100%;
      transform-origin: 50% 50%;
      transition: transform 0.2s ease-in-out;
      padding-top: 4px;
      text-align: center;
		}
  }

  &.opened{
    .indicator {
      transform: rotate(180deg);
    }
  }

	.options-box {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
		background-color: #fff;
		box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.8);
		transition: height 0.3s ease-in-out;

    .pk-option {
			padding: 5px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      font-size: 13px;

      &:last-child {
				border: none;
      }

      &.active{
        color: #ff9800;
      }
		}
	}
}
