<section id="nodes">
	<content-header>节点列表</content-header>
	<section class="panel-list">
		<div class="panel-item panel-attention">
			<p class="info"><strong>注意！</strong></p>
			<p class="info">请勿在任何地方公开节点地址！</p>
			<p class="info">您只需要在 App 中填写相应的配置，或直接使用 App 扫描二维码即可自动配置节点。</p>
			<!-- <p class="info">如果您不知道如何查看节点的详细信息和二维码，<a href="javascript:void(0)" @click="showConfigInfo()">请点我</a>。</p> -->
		</div>
		<div class="panel-item panel-node-list">
			<!-- loading -->
			<loader v-if="isFetching"></loader>

			<div class="panel-node-item" v-for="node in nodes" :node="node">
				<header class="node-item-heading">
					<span class="fa fa-qrcode" v-on:click="showQRCode(node)"></span>
					<span class="node-name">{{node.name}}</span>
					<span class="tips">（点击二维码图标可查看节点二维码）</span>
				</header>
				<section class="node-item-body">
					<section class="node-item-card">
						<!-- <h4>{{node.name}}</h4> -->
						<div class="node-card-content">
							<div class="pure-g">
								<div class="pure-u-1 pure-u-md-1-2">地址：{{node.host}}</div>
								<div class="pure-u-1 pure-u-md-1-2">加密：{{node.protocol}}</div>
							</div>
							<div class="pure-g">
								<div class="pure-u-1 pure-u-md-1-2">端口：{{G.account.port}}</div>
								<div class="pure-u-1 pure-u-md-1-2">密码：{{G.account.auth}}</div>
							</div>
							<p class="tips">
								请勿在任何地方公开节点地址！
							</p>
						</div>
					</section>
				</section>
			</div>
		</div>
	</section>
</section>
