@import "../../../node_modules/purecss/build/pure-min.css";

// @import "../../../node_modules/purecss/build/forms.css";
@import "../../../node_modules/purecss/build/grids-responsive.css";

// @import "../../../node_modules/purecss/build/pure-nr.css";
@import "../../../node_modules/font-awesome/css/font-awesome.min.css";

@import "./pure-rewrite";
@import "./mixin";
@import "./variables";

* {
	box-sizing: border-box;
}

html, body {
	-webkit-font-smoothing: antialiased;
	font-family: $fontFamily;
	color: #333;
	user-select: none;
	-webkit-user-select: none;
}

.text-right {
	text-align: right;
}
