@mixin linearGradient($startColor, $endColor) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcee6c+0,cd6ed1+100 */
	background: $startColor; /* Old browsers */
	background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $startColor 0%, $endColor 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $startColor 0%, $endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=quote($startColor), endColorstr=quote($endColor),GradientType=0 ); /* IE6-9 */
}

@mixin linearCarveUp($startColor, $endColor) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcee6c+0,cd6ed1+100 */
	background: $startColor; /* Old browsers */
	background: -moz-linear-gradient(top, $startColor 0%, $startColor 50%, $endColor 50%, $endColor 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $startColor 0%, $startColor 50%, $endColor 50%, $endColor 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $startColor 0%, $startColor 50%, $endColor 50%, $endColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=quote($startColor), endColorstr=quote($endColor),GradientType=0 ); /* IE6-9 */
}
