@import "./variables";

.pure-menu {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pure-menu-heading, .pure-menu-link {
	padding: 0.8em 1em;
}

.pure-g [class*="pure-u"] {
	font-family: $fontFamily;
}
