@charset "UTF-8";

$fontFamily: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;

// 菜单宽度
$menuWidth: 150px;

$defaultLinkColor: #14c1b1;
$defaultLinkDeepColor: #19be95;

// $blackColor: #4b4646;
// $fontDeepColor: #000000;
// $fontLightColor: #7e7e7e;
// $fontLighterColor: #a5a3a3;
