.pure-button {
	.fa-spinner {
		animation-fill-mode: both;
		animation: rolling 2s infinite linear;
		display: inline-block;
	}

	&.btn-pure-icon {
		padding: 0;
		border: none;
		background: none;
		transition: opacity 0.5s;

		&:active,
		&:focus,
		&:hover {
			border: none;
			background: none;
			box-shadow: none;
			opacity: 0.8;
		}
	}
}
@keyframes rolling {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
