#invitationCodes {
	.panel-code-item {
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;

		&:last-child {
			border-bottom: none;
		}
	}

	.panel-empty-item {
		text-align: center;
		font-size: 14px;
		color: #aaa;
		margin: 30px auto;
	}

	.code-item-heading {
    line-height: 30px;

    .code-type{
      color: #ff9800;
      margin-left: 20px;
    }

		.code-date {
			float: right;
			color: #aaa;
			font-size: 12px;
		}
	}

	.code-item-body {
		margin-top: 10px;

		.pure-u-1 {
			margin-bottom: 15px;

			.title {
				display: inline-block;
				width: 80px;
				text-align: right;
			}
		}
	}

	.loader {
		display: block;
		margin: 100px auto;
	}

	.image-loader {
		width: 30px;
		height: 30px;
	}
}
